# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.TBM.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\nexga\Documents\GitHub\tcc\Middleware\MiddlewareLoader\c++\testes\TBM\.idea\.idea.TBM.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
